html, body {
    background-color: #ffff;
    margin: 0 auto;
    font-size: 12px;
    font-family: "Arial", sans-serif;
}

#page-container {
    display: grid;
    height: 100%;
    width: auto;
    background-color: white;
    grid-template-areas:
        "header"
        "googleContainer"
        "footer";
    grid-template-rows: 5% 90% 5%;
    z-index: 1;
}

#header {
    grid-area: header;
    display: fixed;
    margin: 20px;
    margin-top: 25px;
    background-color: white;
    z-index: 2;
}

.sign_in {
    background-color: #4285f4;
    color: white;
    font-weight: bold;
    border: 1px solid #4285f4;
    padding: 5px 15px 5px 15px;
}

.sign_in:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

li {
    display: inline;
}

a {
    color: rgb(92, 91, 91);
    text-decoration: none;
    padding: 5px;
    font-size:13px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.app_picker {
    background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 68px;
}

.googleContainer {
    grid-area: googleContainer;
    margin: 0;
    height: 95%;
    display: flex;
}

.googleSearch {
    width: 30%;
    height: 25%;
    margin: 0 auto;
    margin-top: 12%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.googleSearch div {
    flex: 1;
}

.logo {
    margin: auto;
}

.searchbar {
    border: 1px solid #cfcfcf;
    border-radius: 30px;
    width: 100%;
    margin-top: 30px;
    height: 45px;
    background-color: white;
}

.searchbar:hover {
    box-shadow: 1px 1px #d3d2d2;
}

.googleButtons {
    padding-top: 30px;
    margin: 0;
    width: 20%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.search {
    margin: 0;
    margin-left: 15%;
    border: none;
    background-color: #f4f4f4;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
}

.lucky {
    margin: 0;
    margin-left: 10%;
    border: none;
    background-color: #f4f4f4;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
}

#footer {
    grid-area: footer;
    display: fixed;
    height: 100%;
    width: auto;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #8f8d8d;
    font-size: 20px;
}